.forecastDiv {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#search {
    background: aqua;
    & h2{
        height: 50px;
        width: 50px;
        float: left;

    }
    & #searchId,#btn{
        height: 50px;
        width: 50px;
        float: right;
    }

}

#todaysForecast {
    background: red;

}

#weeklyForecast {
    background: rebeccapurple;
}